<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Node Authentication</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>
  <section class="section">
    <div class="container">
      <div class="card">
        <div style="text-align: center; padding-top: 10px;">
          <h1 class="title">
            <span class="fa fa-lock"></span>
            < Node Authentication />
          </h1>
          <h3 class="sub-title">
            Login or Register with
          </h3>
        </div>
        <div class="card-content" style="display: flex; justify-content: center;">
          <a href="/login" class="button is-link is-medium is-outlined">
            <span class="fa fa-user"></span> Local Login</a>
          <a href="/signup" class="button is-link is-medium is-outlined" style="margin-left: 10px;">
            <span class="fa fa-user"></span> Local Signup</a>
        </div>
      </div>
    </div>
  </section>
</body>

</html>